<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE:-/var/log/rfid-jukebox/main.log}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-info}">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

    <logger name="info.maaskant" level="${SERVICE_LOG_LEVEL:-${LOG_LEVEL:-info}}"/>
    <logger name="org.pmw.tinylog" level="${MFRC522_LOG_LEVEL:-${LOG_LEVEL:-info}}"/> <!-- All MFRC522 log messages are routed through Tinylog -->
    <logger name="io.netty" level="info"/>
    <logger name="org.asynchttpclient.netty" level="info"/>
</configuration>
